
.navbar li {
  display: inline-block;
  text-align: left;
}

.itemLeft {
  width: 25%;
}

.itemCenter {
	width: 50%;
}

.itemRight {
  width: 15%;
}

.navbar {
  background: #490549;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  height: 120px;
}

li {
  color: white;
  padding: 15px 0;
}

body {
  font-size: 20px;
}